snippet hw
print("Hello, World!")
endsnippet

snippet main "Create a main function"
def main():
    """$1
    """
    $0

if __name__ == "__main__":
    main()

endsnippet

snippet func
def ${1:funcname}(${2:arg1}$3)
"""${1:Does something}
Args:
    ${2:arg1} (${3:type}): $4

Return:
    ${5:type}. ${6:description}
"""
$0
endsnippet
